.dc-chart g.row text {
    fill: black;
    font-size: 0.8em;
}

.dc-chart .pie-slice {
    fill: black;
}

.x-axis-label {
    font-size: 0.8em;
}

#hdx-3W-where {
    height: 360px;
    width: 100%;
}

#whoRegional {
    height: 360px;
    width: 100%;
}

#wheretitle {
    padding-bottom: 10px;
}

#header {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

#header2 {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
/*    margin-top: 30px;*/
}

.colheight {
    height: 450px;
}

.removepadding {
    padding-right: 0px;
    padding-left: 0px;
}

.hdx-3w-chart {
    width: 100%;
}

.hdx-3w-info {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.col-md-3 p {
    padding-left: 40px;
}

.col-xs-3 p {
    padding-left: 40px;
}


#date {
    text-align: right;
    margin-top: 35px;
}

#reset {
    float: right;
    margin-bottom: 5px;
    margin-top: 40px;
}

.col-md-4 {
    color: #848484;
}

.col-md-6 {
    color: #848484;
}

#numbers p {
    color: #03a9f4;
    font-size: 36px;
    
}

h4{
    color: #999999;
}